.login-signUp{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}
.navbar {
    position: sticky !important;
    top: 0;
<<<<<<< HEAD
}
=======
}
>>>>>>> c7297587996d1ef36589ae9e5dd5733db53cf9b5
